<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>
			bTicket | {% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="/site_media/style.css" type="text/css" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	</head>
	<body>
		<div id="nav">
			<a href="/">home</a> |
			<a href="http://www.smtuc.pt/geral/index_horarios.php">schedule</a> |
			<a href="http://www.smtuc.pt/geral/index_itinerarios.php">itinerary</a> |
			{% if user.is_authenticated %}
				welcome {{ user.username }}
				(<a href="/logout">logout</a>)
			{% else %}
				<a href="/login/">login</a> |
				<a href="/register/">register</a>
			{% endif %}
		</div>
		<h1>{% block head %}{% endblock %}</h1>
		{% block content %}{% endblock %}
	</body>
</html>