{% extends "base.html" %}
{% block content %}
  <div class="whiteboxHelp">
  
  <br>
  <br>
  <h2>Help Assistance</h2>
  <br>
      <div class="alert alert-info">
    <strong>Let us help you!</strong> Need help? Select the topic below that best suits your problem.
      </div>     

          <ul id="myTab" class="nav nav-tabs">
          <li class=""><a href="#payment" data-toggle="tab"> <img src="/site_media/Imgs/037.png">  &nbsp  Payment & Pricing</a></li>
          <li class=""><a href="#Assistance" data-toggle="tab"> <img src="/site_media/Imgs/024.png">  &nbsp Account Issues</a></li>
          <li class=""><a href="#problems" data-toggle="tab"> <img src="/site_media/Imgs/258.png">  &nbsp Problems Ticket Issues</a></li>
          <li class=""><a href="#contact" data-toggle="tab"> <img src="/site_media/Imgs/127.png">  &nbsp Report Issue</a></li>          
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="payment">
       <br>
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h3.png" alt="ajunda 1">
          <br>
          <h4>Experiencing trouble buying tickets?</h4>
          <p>Go through the next steps in order to buy a bus ticket:</p>
          <p><i class="icon-circle-arrow-right"></i> Go to <code>B-Ticket</code> / <code>Buy Ticket</code> then select the ticket type and complete the purchase requirements.</p>
          <p>If you still experience some kind of problem, please go to the "Report Problem" tab, and fill up the form with the information regarding you specific problem.</p>
        </div>
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h12.png" alt="ajunda 2">
          <br>
          <h4>Having trouble selecting the payment method?</h4>
          <p>Go through the following steps in order to select a payment method:</p>
          <p><i class="icon-circle-arrow-right"></i> Go to <code>B-Ticket</code> / <code>Buy Ticket</code> fill the presented requirements and press "Complete the purchase".</p>
          <p>If you still experience some kind of problem, please go to the "Report Problem" tab, and fill up the form with the information regarding you specific problem.</p>
                </div>
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h10.png" alt="ajunda 3">
          <br>
          <h4>How can I receive my tickets?</h4>
          <p>You can recieve tickets through, MMS and/or e-mail, just fill up the forms in order to receive it.</p>
          <p>If you still experience some kind of problem, please go to the "Report Problem" tab, and fill up the form with the information regarding you specific problem.</p>
                </div>
         
        
        <div class="span7">
        <hr>
        <h3>Current SMTUC pricing for tickets</h3>
    
        <table class="table table-bordered table-striped">
          <thead>
           <tr>
             <th style="width: 100px;">Ticket Genre</th>
             <th style="width: 100px;">Price</th>
             <th>Description</th>
           </tr>
          </thead>
          <tbody>
           <tr>
             <td>1 Trip Ticket</td>
             <td>1.20€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>2 Trips Ticket</td>
             <td>1.90€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>3 Trips Ticket</td>
             <td>2.20€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>4 Trips Ticket</td>
             <td>2.50€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>5 Trips Ticket</td>
             <td>3.15€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>6 Trips Ticket</td>
             <td>3.80€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>7 Trips Ticket</td>
             <td>4.40€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>8 Trips Ticket</td>
             <td>4.65€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>9 Trips Ticket</td>
             <td>5.25€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>10 Trips Ticket</td>
             <td>5.80€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>11 Trips Ticket</td>
             <td>6.40€</td>
             <td>Valid for the entire transport network</td>
           </tr>
           <tr>
             <td>Mensal Pass</td>
             <td>35€</td>
             <td> Valid for the entire transport network and gives you free parking in the SMTUC parking lots</td>
           </tr>
          </tbody>
          </table>      
        </div>
            </div>
            <div class="tab-pane fade" id="Assistance">
      <br>
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h0.png" alt="ajunda 1">
          <br>
          <h4>Having trouble Authenticating?</h4>
          <p>If you have troubles authenticating, check if you are prompting the correct credential into the system.</p>
          <p>If you still experience some kind of problem, please go to the "Report Problem" tab, and fill up the form with the information regarding you specific problem.</p>
                </div>
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h12.png" alt="ajunda 2">
          <br>
          <h4>How do I recover my data Username and Password?</h4>
          <p>To take a trivial example, which of us ever undertakes laborious physical exercise. 
          Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.</p>
          <p><i class="icon-circle-arrow-right"></i> Go to <code>B-Ticket</code> / <code>Password Recovery</code> then fill up all the requirents in order to recover your password.</p>
                </div>

            </div>
            <div class="tab-pane fade" id="problems">
            <br>
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h7.png" alt="ajunda 1">
          <br>
          <h4>Ticket Usage:</h4>
          <p>Pitchfork sustainable tofu synth chambray. On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, 
          so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</p>
                </div>
        
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h11.png" alt="ajunda 2">
          <br>
          <h4>How to print your ticket?</h4>
          <p>If your ticket have bin damadge gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.  
          Williamsburg banh mi whatever  fixie etsy retro mlkshk vice blog.</p>
          <p><i class="icon-circle-arrow-right"></i> Go to <code>B-Ticket</code> / <code>Ticket Informations</code> then type the recovery code present in your old ticket.</p>
                </div>
        
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h9.png" alt="ajunda 2">
          <br>
          <h4>How do I recover, lost or damaged, tickets?</h4>
          <p>If your ticket have bin damadge gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.  
          Williamsburg banh mi whatever  fixie etsy retro mlkshk vice blog.</p>
          <p><i class="icon-circle-arrow-right"></i> Go to <code>B-Ticket</code> / <code>Ticket Informations</code> then type the recovery code present in your old ticket.</p>
                </div>
        
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h6.png" alt="ajunda 2">
          <br>
          <h4>Do I need to be registered, in order to buy a ticket?</h4>
          <p>No, you can buy a ticket even if pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. 
          DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. 
          Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.</p>
                </div>
        
        <div class="span7"> 
          <img class="help_img" src="/site_media/Imgs/h8.png" alt="ajunda 2">
          <br>
          <h4>How can I see my tickets list? And avaiable trips?</h4>
          <p>Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. 
          DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
          <p><i class="icon-circle-arrow-right"></i> Go to <code>B-Ticket</code> / <code>Ticket Informations</code> then type the recovery code present in your old ticket.</p>
                </div>

            </div>
      
      <div class="tab-pane fade" id="contact">
        <br>

        <div class="span7"> 
          <div class="hero-unit">

          <h5>We are here to help you! If you have any question to ask, any doubt about the service bTicket or found a problem that can not resolve, expose the subject below. Feel free to make any suggestions for improving the service!</h5>
          </div>
          <form class="well">
          
          <h3>Contact form</h3>
          <hr>
          
            <div class="control-group">
            <label>Title/Name:</label>
            <input type="text" class="span2" placeholder="Name identification…">
            <br>
            
            </div>
            
            
            <label>Specify the type of assistance:</label>
            <select id="select01">
              <option>Tickets Problems</option>
              <option>Web-Service problem</option>
              <option>Another</option>
              <option>Report a bug</option>
              <option>Suggestion</option>
             </select>
            
            <div class="control-group">
            <br>
            <p class="help-block">Describe clearly and briefly the reason for your contact:</p>
            <textarea class="input-xxlarge" id="textarea" rows="3"></textarea>
            </div>

            
            <div class="control-group">
              <br>
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-envelope"></i></span><input class="span2" id="inputIcon" type="text" placeholder="E-mail">
                </div>
                <div class="input-prepend">
                  <span class="add-on"><img src="/site_media/Imgs/phone.png"></img></span><input class="span2" id="inputIcon" type="text" placeholder="Phone number">
                </div>
                <label class="control-label" for="inlineRadio">In case of any further clarification of the situation you want to be contacted preferably by:</label>
              
                
              <div class="controls">
                <label class="radio inline">
                <input type="radio" name="contact" id="optionsRadios1" value="option1" checked="">E-mail</label>
                <label class="radio inline">
                <input type="radio" name="contact" id="optionsRadios2" value="option2">Mobile-Phone</label>
              </div>
              </div>
            
            
            
            <br>
            <div class="control-group">
              <label class="control-label" for="inlineRadio">On a scale 0-5 where 0 is poor and 5 efficient, how do you rate the service?</label>
              <div class="controls">
                <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">0</label>
                <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">1</label>
                <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">2</label>
                <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option2">3</label>
                <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2">4</label>
                <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios6" value="option2">5</label>
              </div>
              </div>
            <hr>
            
            <button type="submit" class="btn btn-primary btn-medium">Submit</button>
          </form>
                </div>

            </div>
      
      
          </div>

          </div>

  
  <script>
  $(document).ready(function() {
      $('#helpSelect').addClass('active');
    });
  </script>
{% endblock %}
