{% extends "base.html" %}
{% block title %}Welcome to bTicket{% endblock %}
{% block head %}Welcome to bTicket{% endblock %}
{% block content %}
	{% if user.username %}
		<p>Wellcome {{ user.username }}!
		Here you can buy your bus tickets!</p>
		<p>Manage Tickets<a href="/user"> here</a>.</p>
	{% else %}
		<p>Welcome anonymous user!
		You need to <a href="/login">login</a>
		before you can buy your bus tickets.</p>
	{% endif %}
	<h1>On The Fly Ticket</h1>
	<form method="post" action=".">
		{{ form.as_p }}
		<input type="submit" value="Buy" />
	</form>
{% endblock %}
