{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}Tickets/Passes for {{full_name}}{% endblock %}
{% block content %}
	{% if tickets %}
	<h2>Tickets for {{ full_name }}:</h2>
		<ul>
		{% for ticket in tickets %}
			<li>Id: {{ ticket.id }}</li>
			<li>Emission Date: {{ ticket.emission_date }}</li>
			<li>Trips Remaining: {{ ticket.number_of_trips }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Tickets Found!</p>
	{% endif %}
	
	{% if passes %}
	<h2>Passes for {{ username }}:</h2>
		<ul>
		{% for pass in passes %}
			<li>{{ pass.number }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No Passes Found!</p>
	{% endif %}
{% endblock %}