{% extends "main_page.html" %}
{% block userpage %}
<!-- !!!______2- MEUS BILHETES_____!!! -->
		<div class="accordion-group">
			
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <div class="ticket_icon">
						<img src="/site_media/Imgs/buyico_color.png" width="62" height="53" alt="buy ico" />
					</div>
					<div class="text_gaveta"> <h3> Buy Ticket </h3> </div>
                </a>
              </div>

              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">

			  	<div class="accordion-inner">

					  <ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#regular_ticket" data-toggle="tab">  <img class ="ico" src="/site_media/Imgs/ico_ticket.png"/>  Buy regular ticket</a></li>
						<li><a href="#mensal_pass" data-toggle="tab">  <img class ="ico"  src="/site_media/Imgs/ico_pass.png"/>  Buy a mensal pass</a></li>
					  </ul>
					  
					  <div class="pad10">
					  <div id="myTabContent" class="tab-content">
					  
					  
					  
						<!-- !!!______1- COMPRAR BILHETES UNICOS_____!!! -->				
					  
						<div class="tab-pane fade in active" id="regular_ticket">			

							<p> <span id="step1" data-title="Genre" data-content="Specify how many trips you want.
							The unit price is variable depending on the number of trips">
							<strong>1st step: </strong> <small>Number of trips</small>  </span></p>

								<div class="control-group">
									<div class="controls">
										<div class="input-append">
											<select id="select-box-trips" class="span3">
												<option value="1">1 Trip &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.20€ </option>
												<option value="2">2 Trip's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.20€ </option>
												<option value="3">3 Trip's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.20€ </option>
												<option value="4">4 Trip's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.20€ </option>
												<option value="5">5 Trip's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.20€ </option>
											</select>     
										</div>      
									</div>
								</div>
											

								<br>
																
								<div class="contentor1">
									<form class="well">
									  <h4> Resume of purshase</h4>
									  <br>
									<p> Client: <span class="label label-info">{{user.username}}</span>&nbsp;&nbsp;  Aquisition:  <span id="total-trips-span" class="label label-success">1</span> trips &nbsp;&nbsp; Total: <span id="total-price-span" class="label label-info">1.20€</span></p>
									</form>
								</div>
								

								<!-- Ficha de pagamento -->
								<div id="myModal" class="modal hide fade" style="display: none; ">
								
									<div class="modal-header">
									  <button class="close" data-dismiss="modal">×</button>
									  <h3>Conclude aquisition</h3>
									</div>
									
									<form class="well">
									  <h4> Resume of purshase</h4>
									  <br>
									  <p> Client: <span class="label label-info">{{user.username}}</span>&nbsp;&nbsp;  Aquisition:  <span id="total-trips-span2" class="label label-success">1</span> trips &nbsp;&nbsp; Total: <span id="total-price-span2" class="label label-info">1.20€</span></p>
									</form>
									
									<div class="modal-body">

										  <img src="/site_media/Imgs/logo copy.png" width="260" height="57" alt="paypal possibilities" />
										  
										  <p>Select your payment type:</p>
											<div class="controls">
												<div class="input-append">
												  <div class="btn-group" data-toggle="buttons-radio">
														<button class="btn btn-primary">Visa</button>
														<button class="btn btn-primary">Mastercard</button>
														<button class="btn btn-primary">MB Net</button>
														<button class="btn btn-primary active">American Express</button>
												  </div>
										  
												</div>      
											</div>
											
											<br>
											<label>Insert the card number:</label>
											<input type="text" class="span3" placeholder="should contain 16-18 digits">
											<br>
											<label>Insert the security code (CVC2)</label>
											<input type="text" class="span3" placeholder="3 digits" style ="max-width:35px">
											

										<div class="alert fade in">
											<button class="close" data-dismiss="alert">×</button>
											<strong>Attention!</strong> Ensure that all data entered is correct, if so, conclude the operation.
										</div>
									  
									</div>
									
									<div class="modal-footer">
										<form method="post" action=".">
											<input type="hidden" id="buy-input" name="number_of_trips" value="1" style="width:0px"/>	
											<input class="btn btn-primary"type="submit" value="Buy now!" />
											<a href="/user/" class="btn btn-warning" data-dismiss="modal">Cancel operation</a>
										</form>									  
									    
									</div>
								</div> 
							 
								<!-- Resumo de compra -->

								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Complete the purchase</a>
		
								<br><br>							
								
						</div>
								
						<div class="tab-pane fade" id="mensal_pass">
							
						</div>

					  </div>
					  </div>


				</div>

			  
	          </div>
            </div>   

	<div class="accordion-group">
	        <div class="accordion-heading">
	        
	            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
	              	<div class="ticket_icon">	
						<div class="counter">
							<span class="badge badge-success">{{number_of_trips}}</span>
					  	</div>
					</div>
			
				{% if tickets %}
				<div class="text_gaveta"> <h3>{{number_of_trips}} available trips in {{activetickets}}  active tickets. </h3> </div></div>
					</a>
					<div id="collapseThree" class="accordion-body collapse">
            			
	            			<div class="accordion-inner">
								<div class="tabbable"> <!-- Only required for left/right tabs -->
								  <ul class="nav nav-tabs">
								    <li class="active"><a href="#tab1" data-toggle="tab"> <i class="icon-qrcode"> </i> &nbsp; Available Tickets</a></li>
								    <li><a href="#tab2" data-toggle="tab"> <i class="icon-time"> </i> &nbsp;History</a></li>							
								  </ul>
								 </div>
								 <div class="tab-content">
								 <div class="tab-pane active" id="tab1">
								{%for ticket in tickets%}		
								    
									<a href="#" class= "thumbnail">
									<div class= "row show-grid">
										<div class="span2"> 
											<img src="/qrcode/{{ticket.qr_code.qr_code}}/" height= "150px"/> 
										</div>
										
								    		
								    	
										<div class="span4"> 
											<br>
											<h6><strong>Type</strong>: Regular Ticket </h6><br>
											<p><span class="label label-{% ifequal ticket.number_of_trips 0 %}error{%endifequal%}{%ifequal ticket.number_of_trips 1%}warning{%else%}success{%endifequal%}">&nbsp;{{ticket.number_of_trips}} </span> <strong>&nbsp;&nbsp;Available Trips </strong></p>
											<h6> Bougth at {{ticket.emission_date}}</h6>
											<p></p>
											<br>
										<p>Select your recovery method:</p>
											<div class="controls">
												<div class="input-append">
												  <div class="btn-group" data-toggle="buttons-radio" >
														<button id="urecoveryEmail" class="btn btn-primary">Email</button>
														<button id="urecoveryPhone" class="btn btn-primary">Phone</button>
														<button id="urecoveryPrint" class="btn btn-primary">Print</button>
												  </div>									  
												</div>      
											</div>
											<button id="uRecover" class="btn btn-primary btn-medium"> <i class="icon-repeat icon-white"></i> Recovery	</button>
										</div>

					            	</div>
									</a>

								{%endfor%}

							</div>
					<!-- HISTORY-->
				
				    <div class="tab-pane" id="tab2">
							
								<div class="accordion" id="accordion4">
								            <div class="accordion-group">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4">
								              		<div class="accordion-heading-tickets info">

														<div class= "span1 pack-tickets"> <i class="icon-qrcode icon-white"></i> &nbsp; 0086 </div>
														<div class= "span2 pack-tickets"> <strong>2</strong> available trips </div>

								              	  	</div>
											  </a>
								              <div id="collapseOne4" class="accordion-body collapse in">
								                <div class="accordion-inner">
														
													      <table class="table table-condensed">
													        <thead>
													          <tr>
													            <th>No.</th>
													            <th>Type</th>
													            <th>Purchase Date</th>
													            <th>Ticket Usage Date </th>
																<th>Bus </th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr class= "ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
													          <tr class= "ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
													          <tr class= "old-ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
													          <tr class= "old-ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
															  <tr class= "old-ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>24-03-2012 — 20:33 </td>
																<td>24T</td>
													          </tr>

													          <tr class= "old-ticket">
																<td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>27-02-2012 — 09:33 </td>
																<td>38</td>
													          </tr>


													        </tbody>
													      </table>
													    
								                </div>
								              </div>
								            </div>
								            <div class="accordion-group">
											  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo4">
								              	<div class="accordion-heading-tickets">
													<div class= "span1 pack-tickets"> <i class="icon-qrcode icon-white"></i> &nbsp; 0088 </div>
													<div class= "span2 pack-tickets"> <strong>4</strong> available trips </div>
								              	</div>
											  </a>
								              <div id="collapseTwo4" class="accordion-body collapse">
								                <div class="accordion-inner">
								                		<table class="table table-condensed">
													        <thead>
													          <tr>
													            <th>No.</th>
													            <th>Type</th>
													            <th>Purchase Date</th>
													            <th>Ticket Usage Date </th>
																<th>Bus </th>
													          </tr>
													        </thead>
													        <tbody>
													          <tr class= "ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
													          <tr class= "ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
													          <tr class= "ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
													          <tr class= "ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>------------------</td>
																<td>----</td>
													          </tr>
															  <tr class= "old-ticket">
													            <td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>24-03-2012 — 20:33 </td>
																<td>24T</td>
													          </tr>

													          <tr class= "old-ticket">
																<td>1102</td>
													            <td>Pack6</td>
													            <td>12-02-2012 — 15:23 </td>
													            <td>27-02-2012 — 09:33 </td>
																<td>38</td>
													          </tr>


													        </tbody>
													      </table>
								                </div>
								              </div>
								            </div>
								            <div class="accordion-group">
								
								
											  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4">
								              	<div class="accordion-heading-tickets-old">
													<div class= "span1 pack-tickets-old"> <i class="icon-qrcode"></i> &nbsp; 0068 </div>
													<div class= "span2 pack-tickets-old"> <strong>0</strong> available trips </div>
								              	</div>
											  </a>
								              <div id="collapseThree4" class="accordion-body collapse">
								                <div class="accordion-inner">
															<table class="table table-condensed">
														        <thead>
														          <tr>
														            <th>No.</th>
														            <th>Type</th>
														            <th>Purchase Date</th>
														            <th>Ticket Usage Date </th>
																	<th>Bus </th>
														          </tr>
														        </thead>
														        <tbody>
														          <tr class= "old-ticket">
														            <td>1102</td>
														            <td>Pack6</td>
														            <td>12-02-2012 — 15:23 </td>
														            <td>------------------</td>
																	<td>----</td>
														          </tr>
														          <tr class= "old-ticket">
														            <td>1102</td>
														            <td>Pack6</td>
														            <td>12-02-2012 — 15:23 </td>
														            <td>------------------</td>
																	<td>----</td>
														          </tr>
														          <tr class= "old-ticket">
														            <td>1102</td>
														            <td>Pack6</td>
														            <td>12-02-2012 — 15:23 </td>
														            <td>------------------</td>
																	<td>----</td>
														          </tr>
														          <tr class= "old-ticket">
														            <td>1102</td>
														            <td>Pack6</td>
						
														            <td>12-02-2012 — 15:23 </td>
														            <td>------------------</td>
																	<td>----</td>
														          </tr>
																  <tr class= "old-ticket">
														            <td>1102</td>
														            <td>Pack6</td>
														            <td>12-02-2012 — 15:23 </td>
														            <td>24-03-2012 — 20:33 </td>
																	<td>24T</td>
														          </tr>

														          <tr class= "old-ticket">
																	<td>1102</td>
														            <td>Pack6</td>
														            <td>12-02-2012 — 15:23 </td>
														            <td>27-02-2012 — 09:33 </td>
																	<td>38</td>
														          </tr>


														        </tbody>
														      </table>
								                </div>
								              </div>
								            </div>
								          </div>
									</div>
	           				 	</div>
	           					

        			</div>
        		
				{%else%}
					<div class="text_gaveta"> <h3>There is no Tickets available </h3> </div>
					</a>
				{%endif%}
	           </div>                 
	        
        </div>
    
        <script>
		document.getElementById('urecoveryEmail').onclick = function() {
		
			document.getElementById('uRecover').style.visibility='visible';
		 
		}
		document.getElementById('urecoveryPhone').onclick = function() {

			document.getElementById('uRecover').style.visibility='visible';
		 
		}
		document.getElementById('urecoveryPrint').onclick = function() {
			document.getElementById('uRecover').style.visibility='hidden';		
		 
		}

	</script>
{% endblock %}
